

<body >

<div style="background:#8B0000 ;
border:1px solid #CCC;
border-radius: 25px;
width:100%;
margin:0px auto;
height:140px;">



<h1 >Rent a Piet</h1>
</div>

<div>
  <p >Welcome to Rent a Piet! We are THE Sinterklaas and Piet renting website in The Netherlands! Based on our active community of volunteers, we aim to rent an ideal package for every Dutch household. Call the phone number regarding your favourite team, and make an appointment right away!</p>
  <p >Click on your favourite Sinterklaas, and watch which great helpers are dedicated to this Holy man.</p>
  <p >Also, it would be <stron>Great</strong> if you would subcribe yourself as a Pieter volunteer! Click on the link on the bottom of the page.</p>
</div>

<div style="color:black;
font-size:28px;
font-weight: bold;
display: inline-block;
vertical-align: top;
padding: 1px;
margin: 10px">
<% @sints.each do |sint| %>
  
    <p><%= link_to sint.name, sint_path(sint.id) %></p>
  <p ><%= image_tag sint.image_url %></p></p>
</div>

<% end %>

<div>
  <p >Click HERE to subscribe as a volunteer Piet!</p>
  <%= link_to "[New Piet]", new_piet_path %>

</div>
</body>
