body {background-color: #f9f9ed;}
h1 {font-style: verdana, 24px; }
h2 {font: verdana, 20px;}
div { font: verdana, 16px;
  position:relative;
  top: 40px;
  left:40px;
  }
span {font-weight: bold;}
p img
  {width: 300px;

  }
button {position: relative;
  bottom:0px;
  left:10px;
  background-color:#8B0000;/*rood*/
  border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-color:black;

}
form {font-weight: bold;
font:verdana, 16px;}

.form {background: -webkit-linear-gradient(bottom, #e85d45 40px);
  background: -moz-linear-gradient(bottom, #e85d45 40px);
  background: linear-gradient(bottom, #e85d45 40px);
  margin: auto;
  position: relative;
  width: 600px;
  height: 100px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #e85d45;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;

}
input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;

}
